.EmotionItem {
 background-color: rgb(236, 236, 236);
 padding: 20px;
 border-radius: 5px;
 cursor: pointer;
 text-align: center;
}
.EmotionItem .emotion_img {
 width: 50%;
 margin-bottom: 10px;
}
.EmotionItem_on {
 color: white;
 background-color: rgb(100, 201, 100);
}
